body {
    padding: 0;
    margin: 0;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, footer {
    height: 50px;    
    flex:1;
    display: flex;
    background: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#contentDiv {
    height: calc(100vh - 130px);
    background: #fff;
    color: #000;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    margin-top: 30px;
}

.logo{
    display: flex;
    background: url('./../images/icon_32.png');
    height: 32px;
    width: 32px;
    position: absolute;
    margin-left: 20px;
    left: 0;
    cursor: pointer;
}

#contentDiv .feature{
    min-height: 250px;
    min-width: 30%;
    max-width: 30%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 1%;
    float: left;
    padding: 5px;
}

footer a{
    color: rgb(247, 162, 4);
    text-decoration: none;
}

.featureIcon{
    height: 250px;
    width: 30%;
    float: left;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.featureContent{
    height: 250px;
    float: right;
    color: #0f0e0e;
    width: 69%;
    border-left: 1px solid #e3d0d0;
}

.featureContent > div{
    text-align: center;
    height: 10%;
    font-weight: 600; 
}

.featureContent > article{
    height: 90%;
    font-weight: 400; 
    padding: 20px;
}

@media only screen and (max-width: 1200px) {
    #contentDiv .feature {
        min-height: 250px;
        min-width: 45%;
        max-width: 45%;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        margin: 1%;
        float: left;
    }
}

@media only screen and (max-width: 800px) {
    #contentDiv .feature {
        min-height: 250px;
        min-width: 95%;
        max-width: 95%;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        margin: 1%;
        float: left;
    }
}

/*Icons*/
.bell{
    color: #5cadf3;
}
.sync{
    color: #d8a33f;
}

.bolt{
    color: #FF0000;
}
.wifi{
    color: #a0a2a3;
}